#### Evaluación la calidad de los datos y preparación para analisis.

Como parte del equipo de análisis, lo primero que debes hacer es evaluar la calidad de una muestra de datos recopilados y prepararla para analizarla posteriormente.

Los datos proporcionandos tienen el formato de una lista de Python, con las siguientes columnas de datos:

- **user_id:** Identificador único para cada usuario.
- **user_name:** El nombre del usuario.
- **user_age:** La edad del usuario.
- **fav_categories:** Categorías favoritas de los artículos que compró el usuario, como 'ELECTRONICS', 'SPORT' y 'BOOKS' (ELECTRÓNICOS, DEPORTES y LIBROS), etc.
- **total_spendings:** Una lista de números enteros que indican la cantidad total gastada en cada una de las categorías favoritas.

In [1]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

# Paso 1

La tienda tiene como objetivo garantizar la coherencia en la recopilación de datos. Como parte de esta iniciativa, se debe evaluar la calidad de los datos recopilados sobre los usuarios y las usuarias.

In [2]:
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

##### 1. El dato user_id debe mantenerse entre comillas '', ya que estas le dan la propiedad de que se lea como texto y no como un valor numerico. Esto es por que al trabajar con variables que contienen numeros al momento de hacer operaciones puede cometerse un error. Para minimizar estos errores y dañar la Data la buena practica dicta usar este dato como Texto de esta forma se descarta el error de operacion numerica y garantiza la seguridad de la Data. Al concluir este ejercicio me ha quedado claro que habra que decidir que tipo de variable se necesita para poder trabajar con ella. Para el uso especifico de este proyecto se debe cambiar a numeros enteros para poder organizar la lista.

##### 2. La variable user_name contiene espacios al principio y al final que son innecesarios. El guion bajo se debe mantener por que es un nombre de usuario. Al mantener este _ entre el nombre y apellido de los usuarios podemos ver un diferenciador y no tener Data duplicada. Una vez concluido el ejercicio es claro que quitar el guion bajo en los nombres puede ayudar visualmente al manejo de datos.

##### 3. El dato user_age es tipo de dato float, debe cambiarse a entero (int) ya que las edades son numero enteros no es algo que se pueda fraccionar. Las edades son numeros enteros o son numeros enteros.

##### 4. La lista fav_categories preferentemente debe trabajarse con caracteres en mayusculas. Esto para identificar errores tipograficos con mayor facilidad y evitar errores ortograficos cuando se trabaja con acentos. Dado que el lenguage python identifica mayusculas o minusculas. Adicionalmente, en idiomas como el español ortograficamente el uso de acentos, dieresis u otros caracteres pueden duplicar y ocacionar errores en la Data. Durante la realizacion de este proyecto, me deja en claro que la buena practica dicta mantener los caracteres en caracteres en minusculas para un facil manejo de los datos visualmente.

# Paso 2

Implementación de los cambios que identificamos. Primero, necesitamos corregir los problemas de la variable `user_name` Como vimos, tiene espacios innecesarios y un guion bajo como separador entre el nombre y el apellido; tu objetivo es eliminar los espacios y luego reemplazar el guion bajo con el espacio.

In [3]:
user_name = ' mike_reed '
user_name = user_name.strip()# escribe tu código aquí
user_name = user_name.replace('_', ' ')# escribe tu código aquí

print(user_name)

mike reed

# Paso 3

Luego, debemos dividir el `user_name` (nombre de usuario o usuaria) actualizado en dos subcadenas para obtener una lista que contenga dos valores: la cadena para el nombre y la cadena para el apellido.

In [4]:
user_name = 'mike reed'
name_split = user_name.split() # escribe tu código aquí

print(name_split)

['mike', 'reed']

# Paso 4

Ahora debemos trabajar con la variable `user_age`. Como ya mencionamos, esta tiene un tipo de datos incorrecto. Arreglemos este problema transformando el tipo de datos y mostrando el resultado final.

In [5]:
user_age = 32.0
user_age = int(user_age)# escribe tu código aquí

print(user_age)

32

# Paso 5
Debemos considerar escenarios en los que el valor de `user_age` no se pueda convertir en un número entero. Para evitar que nuestro sistema se bloquee, debemos tomar medidas con anticipación.

A continuacion se excribe un código que intente convertir la variable `user_age` en un número entero y asigna el valor transformado a `user_age_int`. Si el intento falla, mostramos un mensaje pidiendo al usuario o la usuaria que proporcione su edad como un valor numérico con el mensaje: `Please provide your age as a numerical value.` (Proporcione su edad como un valor numérico.)

In [6]:
user_age = 'treinta y dos'

try:
    user_age_entero = int(user_age)
except:
    print('Por favor indique un valor númerico')

Por favor indique un valor númerico

# Paso 6

El equipo de dirección de La tienda ha pedido ayudarles a organizar los datos de sus clientes para analizarlos y gestionarlos mejor.

La tarea es ordenar esta lista por ID de usuario de forma ascendente para que sea más fácil acceder a ella y analizarla.

In [7]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

users[0][0] = int(users[0][0])
users[1][0] = int(users[1][0])
users[2][0] = int(users[2][0])
users[3][0] = int(users[3][0])
users[4][0] = int(users[4][0])
users[5][0] = int(users[5][0])
users[6][0] = int(users[6][0])
users[7][0] = int(users[7][0])
users[8][0] = int(users[8][0])
users[9][0] = int(users[9][0])

users.sort()
print(users)

[[31980, 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]], [32156, ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]], [32415, ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], [32761, 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]], [32984, 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]], [33001, 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]], [33767, ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]], [33912, 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]], [34009, 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]], [34278, 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]]

# Paso 7

Tenemos la información de los hábitos de consumo de nuestros usuarios, incluyendo la cantidad gastada en cada una de sus categorías favoritas. La dirección está interesada en conocer la cantidad total gastada por el usuario.


Calculemos este valor y despleguémoslo.

In [8]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = spendings_per_category[0] + spendings_per_category[1] + spendings_per_category[2]

print(total_amount)

1280

# Paso 8

La dirección de la empresa nos pidió pensar en una manera de resumir toda la información de un usuario. Tu objetivo es crear una cadena formateada que utilice información de las variables `user_id`, `user_name` y `user_age`.

Esta es la cadena final que queremos crear: `User 32415 is mike who is 32 years old.` (El usuario 32415 es Mike, quien tiene 32 años).

In [9]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

user_info = f"User {user_id} is {user_name[0]} who is {user_age} years old."
print(user_info)
user_info = f"El usuario {user_id} es {user_name[0]} quien tiene {user_age} años de edad."
print(user_info)

User 32415 is mike who is 32 years old.
El usuario 32415 es mike quien tiene 32 años de edad.

# Paso 9

La dirección también quiere una forma fácil de conocer la cantidad de clientes con cuyos datos contamos. Tu objetivo es crear una cadena formateada que muestre la cantidad de datos de clientes registrados.

Esta es la cadena final que queremos crear: `Hemos registrado datos de X clientes`.

In [10]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]


user_info = f'Hemos registrado datos de {len(users)} clientes'
print(user_info)

Hemos registrado datos de 10 clientes

# Paso 10

Apliquemos ahora todos los cambios a la lista de clientes. Para simplificar las cosas, te proporcionaremos una más corta.
Debes:
1. Eliminar todos los espacios iniciales y finales de los nombres, así como cualquier guion bajo.
2. Convertir todas las edades en números enteros.
3. Separar todos los nombres y apellidos en una sublista.

Guarda la lista modificada como una nueva lista llamada `users_clean` y muéstrala en la pantalla.

In [11]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
]

users_clean = []


# Procesa al primer usuario
user_name_1 = users[0][1].strip().replace('_',' ')
user_age_1 = int(users[0][2])
user_name_1_split = user_name_1.split()
users_clean.append([user_name_1,user_age_1,user_name_1_split])

# Procesa al segundo usuario
user_name_2 = users[1][1].strip().replace('_',' ')
user_age_2 = int(users[1][2])
user_name_2_split = user_name_2.split()
users_clean.append([user_name_2,user_age_2,user_name_2_split])

# Procesa al tercer usuario
user_name_3 = users[2][1].strip().replace('_',' ')
user_age_3 = int(users[2][2])
user_name_3_split = user_name_3.split()
users_clean.append([user_name_3,user_age_3,user_name_3_split])



print(users_clean)

[['mike reed', 32, ['mike', 'reed']], ['kate morgan', 24, ['kate', 'morgan']], ['john doe', 37, ['john', 'doe']]]

### Ahora tenemos un data set listo para trabajar y explorar los datos.